<h2>Week 6 Demo App - Template Engines: Handlebars.js</h2>
<ul>
    <li>R - GetOne <a href='/getData'>/getData</a> (for web API) </li>
    <li>R - GetOne <a href='/viewData'>/viewData</a> (for web app) </li>
    <li>R - GetAll <a href='/viewData2'>/viewData2</a> (for web app)</li>
    <li>Go to the <a href='/about'>About page</a></li>
</ul>