<!doctype html>
<html>

<head>
  <title>Adminstration</title>
</head>

<body>
  <h3><mark>Administration</mark> page  </h3>
  <p>Here is the information we have on file for you:</p>
  <ul>
      <li>username: {{user.username}}</li>
      
      <li>email: {{user.email}}</li>
      <li>role: <mark>{{user.role}}</mark></li>
  </ul>

  <br>
  <a href="/dashboard">Dashboard</a><br>
  <a href="/logout">Logout</a>
</body>

</html>