<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Home</h2>
    <p>Web app with examples of:</p>
    <ul>
        <li>MVC Design Pattern</li>
        <li>Data and CRUD Operations 
            <ul>
                <li><mark>C</mark>reate — <a href="/newmember">Add New member</a></li>
                <li><mark>R</mark>ead/Retrieve — <a href="/members">Get All members</a></li>
                <li>
                    <mark>R</mark>ead/Retrieve — Get One member (<a href="/members/1">id=1</a>,  
                    <a href="/members/2">id=2</a>, <a href="/members/3">id=3</a>)
                </li>
                <li><mark>U</mark>pdate — Edit Existing member</li>
                <li><mark>D</mark>elete — Delete member</li>
            </ul>
        </li>
        <li>JavaSript Modules</li>
        <li>Promises</li>
        <li>Defining Routes (Express)</li>
    </ul>
    
</body>
</html>