<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/mystyle.css">
    <title>New Member</title>
</head>
<body>
    <h2>Form: Add new member</h2>
    <div class="container">
        <form method="post" action="/newmember">
      
          <label for="name">Full Name</label>
          <input type="text" id="name" name="name" placeholder="Full name..">
            
          <label for="age">Age</label>
          <input type="text" id="age" name="age" placeholder="Age..">
      
          <label for="photoUrl">Photo Url</label>
          <input type="text" id="photoUrl" name="photoUrl" placeholder="Photo Url..">

          <label for="occupation">Occupation</label>
          <input type="text" id="occupation" name="occupation" placeholder="Occupation..">
    
          <label for="company">Company</label>
          <input type="text" id="company" name="company" placeholder="Company.." >
      
          <input type="submit" value="Submit">
      
        </form>
    </div> 
</body>
</html>